* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s all ease;
}

body {
  background-color: var(--background-body);
}

:root.default {
  --primary-color: #4f46e5;
  --hover-color: #312baa;
  --secondary-color: #595757;
  --accent-color: #fff;
}


:root.red {
  --primary-color: #ef4444;
  --hover-color: #dc2626;
  --secondary-color: #6b7280;
  --accent-color: #f9fafb;
  --background-body: #030712;
}

:root.green {
  --primary-color: #10b981;
  /* Green */
  --hover-color: #059669;
  /* Dark green */
  --secondary-color: #4b5563;
  /* Gray */
  --accent-color: #ecfdf5;
  /* Mint */
  --background-body: #042f2e;
  /* Dark teal */
}

:root.purple {
  --primary-color: #8b5cf6;
  --hover-color: #7c3aed;
  --secondary-color: #64748b;
  --accent-color: #f5f3ff;
  --background-body: #030712;
}

.is-toggled {
  margin-top: -10px;
}

.headings {
  margin: 20px;
  text-align: center;
}

.title {
  font-size: 2.5em;
  color: var(--primary-color);
}

.sub-title {
  font-size: 1.2em;
  margin: 10px;
  color: var(--secondary-color);
}

/*Input Container*/
.nav-container {
  display: flex;
  background-color: var(--accent-color);
  padding: 12px;
  gap: 12px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.nav-input {
  padding-left: 10px;
  width: 90%;
}

.nav-input::placeholder {
  font-size: 1.2em;
  font-weight: 500;
}


.nav-container select {
  width: 100px;
  text-align: center;
}

.add-note {
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: none;
  width: 100px;
  border-radius: 4px;
  padding: 12px 20px;
  font-weight: 600;
  transition: 0.3s all ease;
}

.add-note:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--hover-color);
}

.custom-alert-container {
  display: flex;
  justify-content: center;
}

.custom-alert {
  position: absolute;
  z-index: 100;
  top: 2%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 0 auto;
  height: 10vh;
  background-color: var(--primary-color);
  border-radius: 8px;
  animation: slideDown 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  align-content: center;
}

.alert-message {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
}


/*For Modal*/
.modal {
  display: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  /* height: auto; */
  background-color: var(--accent-color);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.modal-content h3 {
  margin: 10px 0px;
}

.modal-content input {
  padding: 10px;
  border: 1px solid black;
}

.modal-content textarea {
  padding: 10px;
  border: 1px solid black;
  /* border: 2px solid lightgray; */
}


.modal-content button {
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-weight: 600;
  transition: 0.3s all ease;
}

.modal-content button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--hover-color);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex z;
  align-items: start;
  flex-direction: column;
  gap: 20px;

}

.fa-xmark {
  font-size: 2em;
  cursor: pointer;
}

.fa-trash {
  cursor: pointer;
  font-size: 1.4em;

}

.fa-xmark:hover {
  color: var(--primary-color);
  transform: scale(1.5);
}

/*Toggle Classes*/
.display {
  display: block !important;
}

.hide {
  display: none;
}



.overlay {
  display: none;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  width: 72%;
  margin: 20px auto;
  gap: 20px;
}

.note {
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 12px;
  min-width: 28%;
  border: 3px solid #f5f3ff;
}

.note:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 2px 2px 20px #38333367;
}

.note-head {
  display: flex;
  margin: 10px 0px;
  justify-content: space-between;
  align-items: center;
}

.category {
  text-align: left;
}

.category-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--accent-color);
  padding: 8px 12px;
  font-weight: 600;
  border-radius: 6px;
}

.category-btn:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.fa-trash:hover {
  cursor: pointer;
  color: var(--primary-color);
  transform: scale(1.2);
}

/*Delete Animation*/
.delete-animation {
  animation: smoke 0.3s ease-out forwards;
}

/*Theme Selectors*/
.theme-container {
  display: flex;
  justify-content: end;
  margin: 30px;
  gap: 10px;
}

.theme-circle {
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.theme-circle:hover {
  transform: scale(1.1);
}

.theme-1 {
  background-color: red;

}

.theme-2 {
  background-color: aquamarine;

}

.theme-3 {
  background-color: blueviolet;
}

.theme-4 {
  background-color: #312baa;
}

@keyframes smoke {
  0% {
    opacity: 1;
    filter: blur(0);
  }

  100% {
    opacity: 0;
    filter: blur(8px) grayscale(100%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media screen and (max-width: 768px) {


  .modal {
    min-width: 90vw;
    height: auto;
  }

  .nav-container {
    width: 90%;
  }

  .notes-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    gap: 20px;
  }

  .note {
    min-width: 90%;
  }

  .modal-content textarea {
    height: 6vh;
  }

  .theme-circle {
    width: 24px;
    height: 24px;
  }

  .custom-alert {
    height: 6%;
  }
}